#containerLogo {
  display: flex;
  gap: 10px;
}
#iconPizza{
  color: orange !important; 
}
.navbar-brand a {
  text-decoration: none !important;
  font-weight: 700 !important;
}
.price {
  padding-top: 1%;
  text-align: center !important;
  font-weight: 500 !important;
  font-size: 1.5rem;
}
.card-title {
  font-size: 1.3rem !important;
  text-transform: capitalize;
}
h6 {
  font-weight: 700 !important;
}
.ingredientes {
  text-transform: capitalize;
  margin-top: 10px;
  margin-left: 2rem;
}
.ingredientes .itemIngredientes {
  font-size: 1rem;
  margin-top: -2px !important;
}
.ingredientes svg {
  margin-right: 10px;
  color: orange;
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.botones {
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.botones button {
  width: 42%;
}
#linkCarrito {
  text-decoration: none !important;
}
#containerCarrito {
  display: flex;
  align-items: center;
  gap: 20px;
}
#totalCarrito {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}
#iconCart {
  font-size: 1.5rem !important;
}
