.containerPizza {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3%;
  width:90vh;
  align-items: center;
}
.imagenPizza img{
  margin: auto;
  display: block;
  width: 90%;
  height: 90%;
}
.infoPizza {
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: justify;
}
.titlePizza {
  padding-top: 2%;
  text-transform: capitalize;
}
.titleIngredientes {
  padding-top: 3%;
  padding-left: 1%;
  padding-bottom: 1%;
  text-transform: capitalize;
}
.precioAnadir {
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}
@media screen and (min-width: 768px) {
  .containerPizza {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    margin-left: 2% !important;
    margin-right: 2% !important;
    border: 1px solid black;
    align-items: center;
  }
  .imagenPizza {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 400px;
  }
}