.containerPizzaCarrito{
  margin: 0 !important;
  padding: 1% !important;
  border: 1px solid gray;
}
.pizzaItemCarrito {
  display: grid !important;
}
.imgPizzaCarrito {
  width: 10%;
  grid-column: 1/2;
  grid-row: 1;
}
.namePizzaCarrito {
  text-transform: capitalize;
  grid-column:4;
  grid-row: 1;
  text-align: left;
  
}
.totalPizzaCarrito {
  grid-column: 1;
  grid-row: 2;
}
.quantityPizzaCarrito {
  grid-column: 3;
  grid-row: 2;
}
div.btnDel {
  grid-column: 2;
  grid-row: 2;
}
div.btnAdd {
  grid-column: 4;
  grid-row: 2;
}

@media screen and (max-width: 768px) {
  .pizzaItemCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    align-content: center !important;
    align-items: center !important;
  }
  .imgPizzaCarrito {
    width: 20%;
  }
  .namePizzaCarrito {
    width: 50%;
    text-transform: capitalize;
  }
  .totalPizzaCarrito {
    width: 10%;
  }
  .quantityPizzaCarrito {
    width: 10%;
    text-align: center;
  }
  div.btnDel,
  div.btnAdd {
    width: 10%;
    margin-left: 5%;
    align-items: center !important;
    align-self: center;
  }
  .labelPizzaCarrito{
    display: none
  }
}
